<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="vm.openCreate()">
        <i class="fa fa-plus"></i> Nueva condición
      </button>
    </div>

    <h3 class="m-b-sm">Condiciones Generales</h3>
    <p class="text-muted">
      Carga PDFs centralizados por aseguradora y subramo. Se reutilizan en pólizas sin duplicar archivos.
    </p>

    <div class="ibox">
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-4">
            <label>Aseguradora</label>
            <select class="form-control" ng-model="vm.filters.aseguradora" ng-change="vm.load()" ng-options="a.id as a.nombre for a in vm.aseguradoras">
              <option value="">Todas</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Subramo</label>
            <select class="form-control" ng-model="vm.filters.subramo" ng-change="vm.load()" ng-options="s.id as s.nombre for s in vm.subramos">
              <option value="">Todos</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Buscar</label>
            <input type="text" class="form-control" ng-model="vm.filters.q" ng-change="vm.debouncedLoad()" placeholder="Nombre...">
          </div>
        </div>

        <hr>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Aseguradora</th>
              <th>Subramo</th>
              <th>Archivo</th>
              <th style="width:180px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in vm.items track by c.id">
              <td>{{c.nombre}}</td>
              <td>
                <span class="label label-default" ng-if="c.tipo=='CONDICIONES'">Condiciones</span>
                <span class="label label-info" ng-if="c.tipo=='GUIA'">Guía</span>
                <span class="label label-warning" ng-if="c.tipo=='OTRO'">Otro</span>
              </td>
              <td>{{vm.nameById(vm.aseguradoras, c.provider || c.aseguradora)}}</td>
              <td>{{vm.nameById(vm.subramos, c.subramo)}}</td>
              <td><a ng-href="{{c.url || c.arch}}" target="_blank">Ver PDF</a></td>
              <td class="text-right">
                <button class="btn btn-xs btn-default" ng-click="vm.openEdit(c)"><i class="fa fa-pencil"></i> Editar</button>
                <button class="btn btn-xs btn-danger" ng-click="vm.remove(c)"><i class="fa fa-trash"></i> Eliminar</button>
              </td>
            </tr>
            <tr ng-if="!vm.items.length && !vm.loading">
              <td colspan="6" class="text-center text-muted">Sin registros</td>
            </tr>
            <tr ng-if="vm.loading">
              <td colspan="6" class="text-center text-muted">Cargando...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
