<div class="inmodal">
  <div class="modal-header modal_title nav-header ">
    <h4 class="modal-title">Estatus</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>Estatus actual:
              <p status-receipt="{{receipt.status}}"></p>
            </h4>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <select
                class="form-control m-b"
                ng-model="status"
                ng-options="status as status.label for status in statusReceipt track by status.value" required>
                <option value="" selected disabled>Selecciona un estado</option>
              </select>
            </div>
            <div class="form-group">
              <label>Observaciones</label>
              <!-- <input class="form-control" name="poliza" ng-model="description" type="text"> -->
              <textarea class="form-control" name="poliza" ng-model="description" type="text"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="changeReceiptStatus()" ng-disabled="!status">Guardar</button>
    <button type="button" class="btn btn-white" ng-click="cancel()">Cerrar</button>
  </div>
</div>
