<div class="inmodal">
  <div class="modal-header modal_title nav-header">
    <h4 class="modal-title">Agregar Grupo</h4>
  </div>
  <div class="modal-body">
    <div class="row" ng-if="level == 1">
      <div class="col-xs-12 form-group">
        <label>Nuevo Grupo <span class="color-red">*</span></label>
        <input class="form-control" name="name" ng-model="groupForm.group_name" type="text">
      </div>
      <div class="col-xs-12 form-group">
        <label>Responsable <span class="color-red">*</span></label> 
        <select class="form-control" name="responsable" ng-model="groupForm.responsable" ng-change="changeResponsable(groupForm.responsable)" ng-options="responsable.url as responsable.first_name + ' ' + responsable.last_name for responsable in users track by responsable.url" >
          <option value="" disabled>Seleccione un responsable</option>
        </select>
      </div>
      <div class="col-xs-12 form-group">
        <label>Observaciones</label>
        <textarea class="form-control" name="description" ng-model="groupForm.description" type="text"></textarea>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 form-group">
        <button class="col-xs-12 btn btn-success" ng-if="subgroups.length == 0" ng-click="addSubgroups()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Subgrupos</button>
      </div> -->
      <div class="col-xs-12">
        <div class="address-container" ng-repeat="item in subgroups">
          <label>Subgrupo #{{$index + 1}}</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger" name="button" ng-click="deleteSubgroup($index)">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
              </button>
            </span>
            <input class="form-control" type="text" ng-model="item.group_name" placeholder="Nombre">
            <span class="input-group-btn">
              <button class="btn btn-success" ng-click="addSubgroups()" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="level == 2">
      <div class="col-xs-12 form-group">
        <label>Nuevo Subgrupo <span class="color-red">*</span></label>
        <input class="form-control" name="name" ng-model="subgroupForm.group_name" type="text">
      </div>
      <!-- <div class="col-xs-12 col-sm-6 form-group">
        <button class="col-xs-12 btn btn-success" ng-if="sub_subgroups.length == 0" ng-click="addSubsubgroups()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Subsubgrupos</button>
      </div> -->
      <div class="col-xs-12">
        <div class="address-container" ng-repeat="item in sub_subgroups">
          <label>Subsubgrupo #{{$index + 1}}</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger" name="button" ng-click="deleteSubsubgroup($index)">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
              </button>
            </span>
            <input class="form-control" type="text" ng-model="item.group_name" placeholder="Nombre">
            <span class="input-group-btn">
              <button class="btn btn-success" ng-click="addSubsubgroups()" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="level == 3">
      <div class="col-xs-12 form-group">
        <label>Nuevo Subsubgrupo <span class="color-red">*</span></label>
        <input class="form-control" name="name" ng-model="subsubgroupForm.group_name" type="text">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()"><i class="fa fa-close" aria-hidden="true"></i> Cancelar</button>
    <button ng-if="level == 1" type="button" class="btn btn-primary ladda-button" ng-click="ok()"><i class="fa fa-save" aria-hidden="true"></i> Crear</button>
    <button ng-if="level == 2" type="button" class="btn btn-primary ladda-button" ng-click="oksub()"><i class="fa fa-save" aria-hidden="true"></i> Crear</button>
    <button ng-if="level == 3" type="button" class="btn btn-primary ladda-button" ng-click="oksubsub()"><i class="fa fa-save" aria-hidden="true"></i> Crear</button>
  </div>
</div>
