<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-6">
    <h2>Tareas</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="inicio.inicio">Inicio</a>
      </li>
      <li class="active">
        <strong>AdminTareas</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div class="wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Administrador de tareas</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group"> 
            <label>Usuario</label>
            <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple" ng-model="select_created_by" data-ng-options="(users.first_name + ' ' + users.last_name) for users in vm.users | orderBy: 'username' track by users.url" ng-change="selectCreatedBy(select_created_by)">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group pull-rigth">
            <button class="btn btn-success col-xs-12" ng-click="save()">Guardar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <legend align="center">Usuarios</legend>
          </div>
          <div class="col-xs-12 form-group">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in vm.users_selected">
                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>