<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <div class="modal-body">
        <p><h1>¿Está seguro que desea eliminar este contacto?</h1> <br\> El contacto se eliminará aunque no guarde los cambios</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">No</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Sí</button>
    </div>
</div>
