<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <div class="modal-body" ng-if="is_policy">
        <p><h1>¿Está seguro que desea cancelar esta póliza?</h1> <br\> Todos los recibos que no se hayan pagado quedaran cancelados</p>
    </div>
    <div class="modal-body" ng-if="!is_policy">
        <p><h1>¿Está seguro que desea cancelar esta OT?</h1></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">No</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Sí</button>
    </div>
</div>
