
<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading page-heading--modern">
  <div class="col-xs-12 col-md-9">    
    <div class="col-lg-12">
      <h2 class="page-heading__title">Pólizas</h2>
      <ol class="breadcrumb page-heading__breadcrumb">
        <li><a ui-sref="inicio.inicio">Inicio</a></li>
        <li class="active"><a ui-sref="polizas.table">Listado de Pólizas</a></li>
        </li>
      </ol>
      <!-- <ol class="breadcrumb">
        <li>
          <a ui-sref="inicio.inicio">Inicio</a>
        </li>
        <li class="active">
          <strong>Listado de Pólizas</strong>
        </li>
      </ol> -->
    </div>
  </div>
</div>



<br>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Filtros</h5>
    <div ibox-tools></div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 form-group">
        <label>Número de póliza</label>
        <input class="form-control" type="text" name="poliza" ng-model="vm.form.num_poliza" ng-change="vm.saveLocalstorage()">
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-3 form-group">
        <label>Número Interno</label>
        <input class="form-control" type="text" name="poliza" ng-model="vm.form.internal_number">
      </div> -->
      <div class="col-xs-12 col-sm-6 col-md-3 form-group">
        <label>Contratante</label>
        <autocomplete datasource="contractors_data" id="contractors" model="vm.form.contratante" change="vm.matchesContractors(vm.form.contratante.val); vm.saveLocalstorage()"></autocomplete>
      </div>
      <div class="col-xs-12 col-sm-3 form-group">
        <label>Grupo</label>
        <autocomplete datasource="groups_data" id="groups" model="vm.form.group" change="vm.matchesGroup(vm.form.group.val);vm.saveLocalstorage()"></autocomplete>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group" ng-if="subgroups.length >0">
        <label>SubGrupo</label>
        <select class="form-control" ng-model="vm.form.subgroup" data-ng-options="subgroup.group_name for subgroup in subgroups track by subgroup.url" ng-change="vm.changeSubgroup(vm.form.subgroup);vm.saveLocalstorage()" required>
          <option value="">Todos los subgrupos</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group" ng-if="subsubgroups.length >0">
        <label>SubsubGrupo</label>
        <!-- <autocomplete datasource="subgroups_data" id="subgroups" model="vm.form.subgroup" change="vm.matchesSubGroup(vm.form.subgroup.val)"></autocomplete> -->
        <select class="form-control" ng-model="vm.form.subsubgroup" data-ng-options="subsubgroup.group_name for subsubgroup in subsubgroups track by subsubgroup.url" ng-change="vm.changeSubsubgroup(vm.form.subsubgroup);vm.saveLocalstorage()" required>
          <option value="">Todos los subgrupos</option>
        </select>
      </div>
      <!-- --------- -->
      <!-- <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="extraFields"> Filtro de Línea de Negocio, Agrupación, Célula
        </label>      
        <div ng-show="extraFields"> -->
        <div class="col-xs-12 col-sm-4 form-group" ng-if="campo_lineanegocio">
          <label>Línea de Negocio</label>
          <select class="form-control" ng-model="vm.form.businessLine" data-ng-options="businesLine.name for businesLine in vm.businesLine track by businesLine.id" ng-change = "vm.changeBLine(vm.form.businessLine); vm.saveLocalstorage()" required>
            <option value="">Todas las líneas</option>
          </select>
        </div>     
        <div class="col-xs-12 col-sm-4 form-group" ng-if="campo_agrupacion">
          <label>Nivel de Agrupación</label>
          <autocomplete datasource="groupinglevels_data" id="groupingleves" model="vm.form.groupinglevel" change="vm.matchesGroupinglevel(vm.form.groupinglevel.val);vm.saveLocalstorage()"></autocomplete>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 form-group" ng-if="vm.form.groupinglevel.subgrupos.length >0 && campo_agrupacion">
          <label>SubAgrupación</label>
          <select class="form-control" ng-model="vm.form.subgrouping" data-ng-options="subgrouping.description for subgrouping in vm.form.groupinglevel.subgrupos track by subgrouping.url" ng-change="vm.changeSubgrouping(vm.form.subgrouping); vm.saveLocalstorage()" required>
            <option value="">Todos los subgrupos</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 form-group" ng-if="vm.form.subgrouping.subsubgrupos.length >0 && campo_agrupacion">
          <label>SubsubAgrupación</label>
          <select class="form-control" ng-model="vm.form.subsubgrouping" data-ng-options="subsubgrouping.description for subsubgrouping in vm.form.subgrouping.subsubgrupos track by subsubgrouping.url" ng-change="vm.changeSubsubgrouping(vm.form.subsubgrouping); vm.saveLocalstorage()" required>
            <option value="">Todos los subgrupos</option>
          </select>
        </div> 
        <div class="col-xs-12 col-sm-4 form-group" ng-if="campo_celula">
          <label>{{moduleName}}</label>
          <select class="form-control" ng-model="vm.form.celula" data-ng-options="celula.celula_name for celula in celulas track by celula.url" ng-change="vm.changecelula(vm.form.celula); vm.saveLocalstorage()">
            <option value="">Todo</option>
          </select>
        </div>
        <!-- </div>
      </div> -->
      
      <div class="col-xs-12 col-sm-4 form-group">
        <label>Clasificación</label>
        <autocomplete datasource="classification_data" id="classification" model="vm.form.classification" change="vm.matchesClassification(vm.form.classification.val); vm.saveLocalstorage()"></autocomplete>
      </div>      
      <!-- --------------- -->
      <div class="col-xs-12 col-sm-6 col-md-3 form-group">
        <label>Estatus</label>
        <select class="form-control" ng-model="vm.form.status" data-ng-options="status.name for status in vm.status track by status.id" ng-change = "vm.changeStatus(vm.form.status); vm.saveLocalstorage()" required>
          <option value="">Todos los status</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group">
        <label>Forma de pago</label>
        <select class="form-control" ng-model="vm.form.payment" data-ng-options="payment.name for payment in vm.payment track by payment.id" ng-change = "vm.changePayment(vm.form.payment); vm.saveLocalstorage()" required>
          <option value="">Todas las formas de pago</option>
        </select>
      </div><br><br><br><br>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group"> 
        <label> Aseguradora(s)</label>      
        <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple" ng-model="vm.form.providers" data-ng-options="providers.alias ? providers.alias : providers.id for providers in vm.providers | orderBy: 'alias' track by providers.url" ng-change="selectProv(vm.form.providers); vm.saveLocalstorage()">
          <option value=""></option>
        </select>          
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group"> 
        <label> Ramo(s)</label>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>    -->       
        <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple" ng-model="vm.form.ramos" ng-change="selectRamos(vm.form.ramos); vm.saveLocalstorage()" data-ng-options="ramos_toselected.ramo_name for ramos_toselected in vm.ramos_toselected track by ramos_toselected.ramo_code">
        </select>          
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 form-group"> 
        <label> Subramo(s)</label>       
        <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple" ng-model="vm.form.subramos" data-ng-options="subramos_toselected.subramo_name for subramos_toselected in vm.subramos_toselected track by subramos_toselected.subramo_code" ng-change="selectSubramos(vm.form.subramos); vm.saveLocalstorage()">
        </select>          
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6 col-md-6 form-group">
      <label>Carátula:</label><br>
      <div class="col-xs-12 input-group">
        <autocomplete datasource="autocompleteData" model="vm.word" change="vm.getCaratulas(vm.word)" ></autocomplete>
        <div class="input-group-btn">
          <button type="button" class="btn btn-block btn-success" ng-disabled="btnSearchDisabled" ng-click="vm.getCarSelected(vm.word);"><span class="fa fa-ok"></span> Seleccionar</button>
        </div>
      </div>
    </div><br><br>
    <div class="row">
      <div ng-if="!fechasFilter" class="col-xs-12 col-sm-6 col-md-3 form-group margin-top-20">
        <button class="col-xs-12 btn btn-success" ng-click="vm.addFilter(1); vm.saveLocalstorage()">Agregar filtro de fechas</button>
      </div>
   
      <div ng-if="fechasFilter">
        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
          <label>Desde: </label>
          <div class="datepicker-me input-group date" data-provide="datepicker">
            <input type="text" name="startDate" class="width-100 text-align-center form-control" ng-model="vm.form.since" value="{{vm.form.since | date : 'medium'}}" ng-change="vm.options.changeSince(); vm.saveLocalstorage()" data-date-format="mm/dd/yyyy" >
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
          <label>Hasta: </label>
          <div class="datepicker-me input-group date" data-provide="datepicker">
            <input type="text" name="endingDate" class="width-100 text-align-center form-control" ng-model="vm.form.until " value="{{vm.form.until}}" ng-change="vm.changeUntil(); vm.saveLocalstorage()" data-date-format="mm/dd/yyyy" >
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 form-group check-options">
          <br>
          <div class="checkbox-inline nopadding">
            <input type="radio" ng-model="incio_fin" ng-click="valueRadio(incio_fin); vm.saveLocalstorage()" value="true">
            <span ng-class="{'receipts-select': incio_fin == 'true'}"> Inicio de vigencia</span>
          </div>
          <div class="checkbox-inline nopadding pull-right">
            <input type="radio" ng-model="incio_fin" ng-click="valueRadio(incio_fin); vm.saveLocalstorage()" value="false">
            <span ng-class="{'receipts-select': incio_fin == 'false'}"> Fin de vigencia</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 margin-top-20">
          <button class="btn btn-sm btn-warning" ng-click="vm.addFilter(2)">x</button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 form-group btn-action" ng-if="vm.canConsultar()">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
              <button class="col-xs-12 btn btn-success" ng-click="vm.search(3, 1,1); vm.searchOT(3, 1,1,1)">Consultar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="busqueda && vm.acceso_ver_pol">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Pólizas</h5>
        <div ibox-tools></div>
      </div>

      <ul id="contextPolizas" class="dropdown-menu" role='menu' z-index ="1000"> 
        <!-- <li><a ng-click="open_new_tab()">Abrir en nueva pestaña</a></li> -->
      </ul>

      <div class="ibox-content">
        <!-- <div class="row" ng-if="vm.show_results"> -->
        <div class="row" ng-if="!vm.show_binnacle">
          <div class="results-container">
            <div class="col-xs-12 panel-body">
              <legend class="col-xs-12 legend-title visible-xs-block visible-sm-block" align="center"> Resultado de pólizas </legend>
              <div class="results-content">
                    </div>
                </div>
                <div class="ibox float-e-margins border-bottom visible-xs-block visible-sm-block" ng-repeat="insurance in vm.search_results track by $index" ng-if="insurance.document_type == 1">
                  <div class="ibox-title">
                    <h5> Póliza: {{ insurance.poliza_number }} </h5>
                    <div ibox-tools></div>
                  </div>
                  <div class="ibox-content"  ui-sref="polizas.info({polizaId: insurance.id})">
                    <div class="table-flex">
                      <div class="table-row" >
                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Tipo </label>
                          <p> Póliza </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Póliza </label>
                          <p> {{ insurance.poliza_number }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Contratante </label>
                          <p>
                              {{ insurance.natural.first_name }} {{insurance.natural.last_name}}  <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>
                              {{ insurance.juridical.j_name }}
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Aseguradora </label>
                          <p> {{ insurance.aseguradora }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Subramo </label>
                          <p> {{ insurance.subramo }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Forma de pago </label>
                          <p payment="{{insurance.forma_de_pago}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Estatus </label>
                          <p status="{{insurance.status}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Vigencia </label>
                          <p> {{ insurance.start_of_validity | date: 'medium': 'UTC'}} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Antigüedad </label>
                          <p ng-if="!(insurance.antiguedad > 0)">
                            0 días
                          </p>
                          <p ng-if="insurance.antiguedad > 0">
                            {{ insurance.antiguedad }} días
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Acciones </label>
                          <p ng-click="$event.stopPropagation();">
                            <!-- comments -->
                            <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(insurance)">
                              <i class="fa fa-comment" aria-hidden="true"></i>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ibox float-e-margins border-bottom visible-xs-block visible-sm-block" ng-repeat="insurance in vm.search_results track by $index" ng-if="insurance.document_type == 3">
                  <div class="ibox-title">
                    <h5>
                      Colectividad: {{ insurance.poliza_number }}
                    </h5>
                    <div ibox-tools></div>
                  </div>

                  <div class="ibox-content" style="display: none" ui-sref="colectividades.info({polizaId: insurance.id})">
                    <div class="table-flex">
                      <div class="table-row" >
                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Tipo </label>
                          <p> Colectividad </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Póliza </label>
                          <p> {{ insurance.poliza_number }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Contratante </label>
                          <p>
                              {{ insurance.natural.first_name }} {{insurance.natural.last_name}}  <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>
                              {{ insurance.juridical.j_name }}
                              {{ insurance.contractor.full_name }}
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Aseguradora </label>
                          <p> {{ insurance.aseguradora }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Subramo </label>
                          <p> {{ insurance.subramo }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Forma de pago </label>
                          <p payment="{{insurance.forma_de_pago}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Estatus </label>
                          <p status="{{insurance.status}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Vigencia </label>
                          <p> {{ insurance.start_of_validity | date: 'medium': 'UTC'}} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Antigüedad </label>
                          <p ng-if="!(insurance.antiguedad > 0)">
                            0 días
                          </p>
                          <p ng-if="insurance.antiguedad > 0">
                            {{ insurance.antiguedad }} días
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Acciones </label>
                          <p ng-click="$event.stopPropagation();">
                            <!-- comments -->
                            <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(insurance)">
                              <i class="fa fa-comment" aria-hidden="true"></i>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table table-stripped table-hover hidden-xs hidden-sm">
                  <thead>
                    <tr>
                      <th ng-click="vm.changeOrder(1, vm.order_type_asc == 1 ? 2 : 1)">Tipo <span ng-class="{'fa fa-sort-desc': vm.order_type_asc == 1, 'fa fa-sort-asc': vm.order_type_asc == 2}"></th>
                      
                      <th width="5%">Identificador</th>

                      <th ng-click="vm.changeOrder(2, vm.order_poliza_asc == 1 ? 2 : 1)" width="5%">Póliza <span ng-class="{'fa fa-sort-desc': vm.order_poliza_asc == 1, 'fa fa-sort-asc': vm.order_poliza_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(3, vm.order_contractor_asc == 1 ? 2 : 1)">Contratante <span ng-class="
                      {'fa fa-sort-desc': vm.order_contractor_asc == 1, 'fa fa-sort-asc': vm.order_contractor_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(4, vm.order_provider_asc == 1 ? 2 : 1)">Aseguradora <span ng-class="{'fa fa-sort-desc': vm.order_provider_asc == 1, 'fa fa-sort-asc': vm.order_provider_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(5, vm.order_subramo_asc == 1 ? 2 : 1)">Subramo <span ng-class="{'fa fa-sort-desc': vm.order_subramo_asc == 1, 'fa fa-sort-asc': vm.order_subramo_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(6, vm.order_pay_asc == 1 ? 2 : 1)">Forma de pago <span ng-class="{'fa fa-sort-desc': vm.order_pay_asc == 1, 'fa fa-sort-asc': vm.order_pay_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(7, vm.order_status_asc == 1 ? 2 : 1)">Estatus <span ng-class="{'fa fa-sort-desc': vm.order_status_asc == 1, 'fa fa-sort-asc': vm.order_status_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(8, vm.order_vigencia_asc == 1 ? 2 : 1)">Vigencia <span ng-class="{'fa fa-sort-desc': vm.order_vigencia_asc == 1, 'fa fa-sort-asc': vm.order_vigencia_asc == 2}"></th>
                      
                      <th ng-click="vm.changeOrder(9, vm.order_anti_asc == 1 ? 2 : 1)">Antigüedad <span ng-class="{'fa fa-sort-desc': vm.order_anti_asc == 1, 'fa fa-sort-asc': vm.order_anti_asc == 2}"></th>
                      
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr 
                      ng-repeat="insurance in vm.search_results track by $index" 
                      ng-click="vm.goToInfo(insurance)"
                      context="contextPolizas"  
                      ng-right-click="ShowContextMenu('Información pólizas '+ insurance.poliza_number ,insurance.document_type, insurance)"
                      >
                      <td ng-if="insurance.document_type == 1">Póliza {{insurance.historic}}</td>
                      <td ng-if="insurance.document_type == 3">Poliza de Grupo {{insurance.historic}}</td>
                      <td ng-if="insurance.document_type == 11">Colectividad {{insurance.historic}}</td>
                      <td ng-if="insurance.document_type == 12">Póliza de Colectividad {{insurance.historic}}</td>
                      <td>{{ insurance.identifier }} </td>
                      <td>{{ insurance.poliza_number }} </td>
                      <td>
                        <span>
                          {{ insurance.natural.first_name }} {{insurance.natural.last_name}}  <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>{{insurance.juridical.j_name}}{{insurance.contractor.full_name}}
                        </span>
                      </td>
                      <td>{{ insurance.aseguradora }}</td>
                      <td>{{ insurance.subramo }}</td>
                      <td>{{payment(insurance.forma_de_pago)}}</td>
                      <td>{{status(insurance.status)}} <span ng-if="!insurance.existe_ot_renovacion && insurance.org_name =='ancora' && insurance.renewed_status ==2 && insurance.is_renewable==1">- En Proceso de Renovación</span></td>
                      <td>{{ insurance.start_of_validity | date: 'dd/MM/yyyy': 'UTC'}}</td>
                      <td ng-if="insurance.antiguedad > 0">{{ insurance.antiguedad }} días</td>

                      <td ng-if="!(insurance.antiguedad > 0)">0 días</td>
                      <td ng-click="$event.stopPropagation();">
                        <!-- comments -->
                        <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(insurance)">
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-white btn-sm" title="Creado por: {{insurance.owner}}">
                          <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <tasks click="addtask()" type="4" model="insurance.poliza_number" associated="insurance.id"></tasks>
                      </td>
                    </tr>
                  </tbody>
                </table>

               <!--  <div ng-if="vm.show_pag_search && vm.search_config.count > 10" class="text-center">
                  <pagination config="vm.search_config" model="vm.search_results"></pagination>
                </div> -->
                <!-- PAGINACION -->
                <div ng-if="vm.show_pag_search" class="text-center hidden-xs hidden-sm">                            
                  <div ng-if="paginacion['count'] > 10" class="text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item" ng-click="anteriorPagina(pagina)">
                          <a class="page-link" aria-label="Previous" role="button">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item" ng-repeat="pagina in paginacion.totalPaginas" ng-click="selecionPagina(pagina)" ng-class="{'active': pagina === paginacion.paginaActual}">
                          <a class="page-link" role="button">{{pagina}}</a>
                        </li>
                        <li class="page-item" ng-click="siguientePagina(pagina)">
                          <a class="page-link" aria-label="Next" role="button">
                            <span aria-hidden="true">
                                  <span aria-hidden="true">&raquo;</span>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-if="!vm.show_binnacle && vm.acceso_rep_pol && vm.search_results.length >0">
          <div class="col-xs-12 col-sm-6 col-md-3 form-group" ng-if="vm.buttonReport == true; vm.search_results.length">
            <button ng-model="vm.buttonReport" class="col-xs-12 btn btn-primary ladda-button" ng-click="exportDataFilter(1)">
            Generar Reporte
            </button>
          </div>
        </div>

        <!-- Bitácora acceso rápido POLIZAS -->
        <div class="row animate" ng-if="vm.show_binnacle">
          <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
              <div class="row">
                <a class="col-xs-12 btn btn-info" ng-click="vm.returnToReceipts()"><span class="fa fa-reply"></span> Regresar</a>
              </div>
            </div>
            <comments datasource="vm.comments_data" typemodel="1" config="vm.comments_config" idmodel="vm.policy_id" exportable="true"></comments>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row ot-results-container" ng-if="busqueda && vm.acceso_ver_ot">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Órdenes de Trabajo</h5>
        <div ibox-tools></div>
      </div>

      <div class="ibox-content">
        <div class="row" ng-if="!vm.show_binnacle_ot">
          <div class="results-container">
            <div class="col-xs-12 panel-body">
              <legend class="col-xs-12 legend-title visible-xs-block visible-sm-block" align="center"> Resultado de OT </legend>

              <div class="results-content">

                <div class="row visible-sm-block" ng-if="!vm.ot_results.length">
                    <div class="table-cell col-xs-12 text-center">
                        No se han encontrado registros
                    </div>
                </div>
                <div class="ibox float-e-margins border-bottom visible-xs-block visible-sm-block" ng-repeat="insurance in vm.ot_results track by $index">
                  <div class="ibox-title">
                    <h5> OT: {{ insurance.internal_number }} </h5>
                    <div ibox-tools></div>
                  </div>

                  <div class="ibox-content" style="display: none" ng-click="vm.goToInfo(insurance)">
                    <div class="table-flex">
                      <div class="table-row" >
                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Orden de trabajo </label>
                          <p> {{ insurance.internal_number }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Contratante </label>
                          <p>
                              {{ insurance.natural.first_name }} {{insurance.natural.last_name}} <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>
                              {{ insurance.juridical.j_name }}{{insurance.contractor.full_name}}
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Aseguradora </label>
                          <p> {{ insurance.aseguradora }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Paquete </label>
                          <p> {{ insurance.paquete }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Subramo </label>
                          <p> {{ insurance.subramo }} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Forma de pago </label>
                          <p payment="{{insurance.forma_de_pago}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Estatus </label>
                          <p status="{{insurance.status}}"></p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Vigencia </label>
                          <p> {{ insurance.start_of_validity | date: 'dd-MM-yyyy': 'UTC'}} </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Antigüedad </label>
                          <p ng-if="insurance.antiguedad > 0">
                            {{ insurance.antiguedad }} días
                          </p>
                          <p ng-if="!(insurance.antiguedad > 0)">
                            0 días
                          </p>
                        </div>

                        <div class="table-cell col-xs-12 col-sm-6">
                          <label> Acciones </label>
                          <p ng-click="$event.stopPropagation();">
                            <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(insurance)">
                              <i class="fa fa-comment" aria-hidden="true"></i>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <table class="table table-stripped table-hover hidden-xs hidden-sm">
                  <thead>
                    <tr>
                      <th ng-click="vm.changeOrderOT(1, vm.order_ot_asc == 1 ? 2 : 1)">Orden de trabajo <span ng-class="{'fa fa-sort-desc': vm.order_ot_asc == 1, 'fa fa-sort-asc': vm.order_ot_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(2, vm.order_conot_asc == 1 ? 2 : 1)">Contratante <span ng-class="{'fa fa-sort-desc': vm.order_conot_asc == 1, 'fa fa-sort-asc': vm.order_conot_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(3, vm.order_aseg_asc == 1 ? 2 : 1)">Aseguradora <span ng-class="{'fa fa-sort-desc': vm.order_aseg_asc == 1, 'fa fa-sort-asc': vm.order_aseg_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(4, vm.order_package_asc == 1 ? 2 : 1)">Paquete <span ng-class="{'fa fa-sort-desc': vm.order_package_asc == 1, 'fa fa-sort-asc': vm.order_package_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(5, vm.order_subot_asc == 1 ? 2 : 1)">Subramo <span ng-class="{'fa fa-sort-desc': vm.order_subot_asc == 1, 'fa fa-sort-asc': vm.order_subot_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(6, vm.order_payot_asc == 1 ? 2 : 1)">Forma de pago <span ng-class="{'fa fa-sort-desc': vm.order_payot_asc == 1, 'fa fa-sort-asc': vm.order_payot_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(7, vm.order_statot_asc == 1 ? 2 : 1)">Estatus <span ng-class="{'fa fa-sort-desc': vm.order_statot_asc == 1, 'fa fa-sort-asc': vm.order_statot_asc == 2}"></th>
                      <th ng-click="vm.changeOrderOT(8, vm.order_valot_asc == 1 ? 2 : 1)">Vigencia <span ng-class="{'fa fa-sort-desc': vm.order_valot_asc == 1, 'fa fa-sort-asc': vm.order_valot_asc == 2}"></th>
                      <th>Antigüedad</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr 
                      ng-repeat="insurance in vm.ot_results track by $index" 
                      ng-click="vm.goToInfo(insurance)"context="contextPolizas"  
                      ng-right-click="ShowContextMenu('Información pólizas','polizas.info', insurance.id)">

                      <td>{{ insurance.internal_number }}</td>

                      <td ng-if="from_activate">{{ insurance.natural.first_name }} {{insurance.natural.last_name}}  <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>{{ insurance.juridical.j_name }}{{insurance.contractor.full_name}}</td>

                      <td ng-if="!from_activate">{{ insurance.natural.first_name }} {{insurance.natural.last_name}} <span ng-if="insurance.natural.second_last_name">{{insurance.natural.second_last_name}}</span>{{ insurance.juridical.j_name }}{{insurance.contractor.full_name}} </td>

                      <td>{{ insurance.aseguradora }}</td>

                      <td>{{ insurance.paquete }}</td>

                      <td>{{ insurance.subramo }}</td>

                      <td payment="{{insurance.forma_de_pago}}"></td>

                      <td status="{{insurance.status}}"></td>

                      <td>{{ insurance.start_of_validity | date: 'dd-MM-yyyy': 'UTC'}}</td>

                      <td ng-if="insurance.antiguedad > 0">{{ insurance.antiguedad }} días</td>

                      <td ng-if="!(insurance.antiguedad > 0)">0 días</td>

                      <td ng-click="$event.stopPropagation();">
                        <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(insurance)">
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                        <tasks click="addtask()" type="1" model="insurance.internal_number" associated="insurance.id"></tasks>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- PAGINACION -->
                <div ng-if="vm.show_pag_search_ot" class="text-center hidden-xs hidden-sm">
                  <div ng-if="paginacionOT && paginacionOT['count'] > 10" class="text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item" ng-click="anteriorPaginaOT(paginaOT)">
                          <a class="page-link" aria-label="Previous" role="button">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item" ng-repeat="paginaOT in paginacionOT.totalPaginas" ng-click="selecionPaginaOT(paginaOT)" ng-class="{'active': paginaOT === paginacionOT.paginaActual}">
                          <a class="page-link" role="button">{{paginaOT}}</a>
                        </li>
                        <li class="page-item" ng-click="siguientePaginaOT(paginaOT)">
                          <a class="page-link" aria-label="Next" role="button">
                            <span aria-hidden="true">
                                  <span aria-hidden="true">&raquo;</span>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>  
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-if="!vm.show_results">
          <div class="results-container visible-xs-block visible-sm-block">
            <div class="results-links">
              <div class="col-xs-12">
                <a class="col-xs-12 btn btn-default" ng-click="vm.showOTPendientes(); getPolicies(6);"> En trámite </a>
              </div>
              <div class="col-xs-12">
                <a class="col-xs-12 btn btn-default" ng-click="vm.showOTCanceladas(); getPolicies(7);"> OT Canceladas </a>
              </div>
            </div>
            <div class="results-content">
              <div class="col-xs-12 panel-body" ng-show="vm.oPendientes">
                <legend class="col-xs-12 legend-title visible-xs-block visible-sm-block" align="center"> En trámite </legend>

                <div class="results-content">
                  <div class="ibox float-e-margins border-bottom" ng-repeat="ot in vm.ot track by $index" ng-if="ot.status == 1">
                    <div class="ibox-title">
                      <h5> OT: #{{ ot.internal_number }} </h5>
                      <div ibox-tools></div>
                    </div>
                    <div class="ibox-content" style="display: none" ui-sref="polizas.info({polizaId: ot.id})">
                      <div class="table-flex">
                        <div class="table-row">
                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Orden de trabajo </label>
                            <p> {{ ot.internal_number }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Contratante </label>
                            <p>
                                {{ ot.natural }}
                                {{ ot.juridical }}
                                {{ot.contractor}}
                            </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Aseguradora </label>
                            <p> {{ ot.aseguradora }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Paquete </label>
                            <p> {{ ot.paquete }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Subramo </label>
                            <p> {{ ot.subramo }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Antigüedad </label>
                            <p ng-if="ot.antiguedad > 0">
                              {{ ot.antiguedad }} días
                            </p>
                            <p ng-if="!(ot.antiguedad > 0)">
                              0 días
                            </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Acciones </label>
                            <p ng-click="$event.stopPropagation();">
                              <!-- comments -->
                              <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(ot)">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                              </a>
                              <tasks click="addtask()" type="1" model="insurance.internal_number" associated="ot.id"></tasks>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 panel-body" ng-show="vm.oCanceladas">
                <legend class="col-xs-12 legend-title visible-xs-block visible-sm-block" align="center"> Pólizas Canceladas </legend>

                <div class="results-content">
                  <div class="ibox float-e-margins border-bottom visible-xs-block visible-sm-block" ng-repeat="ot in vm.ot track by $index" ng-if="ot.status == 2">
                    <div class="ibox-title">
                      <h5> OT: #{{ ot.internal_number }} </h5>
                      <div ibox-tools></div>
                    </div>

                    <div class="ibox-content" style="display: none" ui-sref="polizas.info({polizaId: ot.id})">
                      <div class="table-flex">
                        <div class="table-row" >
                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Orden de trabajo </label>
                            <p> {{ ot.internal_number }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Contratante </label>
                            <p>
                                {{ ot.natural }}
                                {{ ot.juridical }}
                                {{ot.contractor}}
                            </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Aseguradora </label>
                            <p> {{ ot.aseguradora }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Paquete </label>
                            <p> {{ ot.paquete }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Subramo </label>
                            <p> {{ ot.subramo }} </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Antigüedad </label>
                            <p ng-if="ot.antiguedad > 0">
                              {{ ot.antiguedad }} días
                            </p>

                            <p ng-if="!(ot.antiguedad > 0)">
                              0 días
                            </p>
                          </div>

                          <div class="table-cell col-xs-12 col-sm-6">
                            <label> Acciones </label>
                            <p ng-click="$event.stopPropagation();">
                              <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(ot)">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="results-container hidden-xs hidden-sm">
            <div class="tabs" ng-if="!vm.show_results">
              <uib-tabset>
                <uib-tab heading="Pendientes" id="otpendientes" ng-click="getPolicies(6)" >
                  <div class="panel-body">
                    <div class="table-container">
                      <table  class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Orden de trabajo</th>
                            <th>Contratante</th>
                            <th>Aseguradora</th>
                            <th>Paquete</th>
                            <th>Subramo</th>
                            <th>Antigüedad</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="ot in vm.ot track by $index" ui-sref="polizas.info({polizaId: ot.id})" ng-if="ot.status == 1">
                            <td> {{ ot.internal_number }} </td>

                            <td> {{ ot.natural }} {{ ot.juridical }}{{ ot.contractor }} </td>

                            <td> {{ ot.aseguradora }} </td>

                            <td> {{ ot.paquete }} </td>
                            <td> {{ ot.subramo }} </td>
                            <td ng-if="ot.antiguedad > 0">{{ ot.antiguedad }} días</td>
                            <td ng-if="!(ot.antiguedad > 0)">0 días</td>
                            <td ng-click="$event.stopPropagation();">
                              <!-- comments -->
                              <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(ot)">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                              </a>
                              <tasks click="addtask()" type="1" model="insurance.internal_number" associated="ot.id"></tasks>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div ng-if="vm.show_pag_ot" class="text-center">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <li ng-if="show_prev_block_ot" ng-click="previousBlockPagesOT()">
                              <a class="page-link">
                                <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                              </a>
                            </li>

                            <li class="page-item" ng-repeat="page in totalPages_ot | slice:start:end" ng-class="{'active': page === actual_page_ot}" ng-click="selectPageOT(page)" >
                              <a class="page-link" >{{page}}</a>
                            </li>

                            <li ng-click="nextBlockPagesOT()" ng-if="totalPages_ot.length > 5">
                              <a class="page-link">
                                <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                              </a>
                            </li>
                            <li class="page-item" >
                              <a class="page-link" ng-click="lastPageOT()" aria-label="Last">
                                <span aria-hidden="true">
                                  <i class="fa fa-step-forward" aria-hidden="true"></i>
                                </span>
                                <span class="sr-only">Last</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </uib-tab>

                <uib-tab heading="Canceladas" id="otcanceladas" ng-click="getPolicies(7)" ng-if="!vm.show_results">
                  <div class="panel-body">
                    <div class="table-container">
                      <table  class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Orden de trabajo</th>
                            <th>Contratante</th>
                            <th>Aseguradora</th>
                            <th>Paquete</th>
                            <th>Subramo</th>
                            <th>Antigüedad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="ot in vm.ot track by $index" ui-sref="polizas.info({polizaId: ot.id})" ng-if="ot.status == 2">
                            <td> {{ ot.internal_number }} </td>

                            <td>
                              {{ ot.natural }} {{ ot.juridical }}{{ ot.contractor }}
                            </td>

                            <td> {{ ot.aseguradora }} </td>

                            <td> {{ ot.paquete }} </td>

                            <td> {{ ot.subramo }} </td>

                            <td ng-if="ot.antiguedad > 0">{{ ot.antiguedad }} días</td>

                            <td ng-if="!(ot.antiguedad > 0)">0 días</td>

                            <td ng-click="$event.stopPropagation();">
                              <a class="btn btn-white btn-sm" ng-click="$event.stopPropagation(); vm.showBinnacle(ot)">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                              </a>
                              <tasks click="addtask()" type="1" model="insurance.internal_number" associated="ot.id"></tasks>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div ng-if="vm.show_pag_ot && vm.ot_config.count > 10" class="text-center">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <li ng-if="show_prev_block_ot" ng-click="previousBlockPagesOT()">
                              <a class="page-link">
                                <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                              </a>
                            </li>

                            <li class="page-item" ng-repeat="page in totalPages_ot | slice:start:end" ng-class="{'active': page === actual_page_ot}" ng-click="selectPageOT(page)" >
                              <a class="page-link" >{{page}}</a>
                            </li>

                            <li ng-click="nextBlockPagesOT()" ng-if="totalPages_ot.length > 5">
                              <a class="page-link">
                                <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                              </a>
                            </li>
                            <li class="page-item" >
                              <a class="page-link" ng-click="lastPageOT()" aria-label="Last">
                                <span aria-hidden="true">
                                  <i class="fa fa-step-forward" aria-hidden="true"></i>
                                </span>
                                <span class="sr-only">Last</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>

                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>

        <div class="row" ng-if="!vm.show_binnacle_ot && vm.acceso_rep_pol && vm.ot_results.length > 0">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <button ng-model="vm.buttonReport" class="col-xs-12 btn btn-primary ladda-button" ng-click="exportDataFilter(2)">
            Generar Reporte OT
            </button>
          </div>
        </div>

        <!-- Bitácora acceso rapido OT's -->
        <div class="row animate" ng-if="vm.show_binnacle_ot">
          <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
              <div class="row">
                <a class="col-xs-12 btn btn-info" ng-click="vm.returnToReceipts(2)"><span class="fa fa-reply"></span> Regresar</a>
              </div>
            </div>
            <comments datasource="vm.comments_data" typemodel="1" config="vm.comments_config" idmodel="vm.policy_id_ot"></comments>
          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">  
  $(window).load(function() { $("#state").select2(); });
  // angular.element(document).ready(function(){
  //   $('.js-example-basic-multiple').select2();
  // });
</script>
